sudo: enabled
dist: xenial
language: python

# Build matrix
os:
  - linux
python:
  - 3.6

install:
  # Install package dependencies
  - pip install -r requirements-dev.txt

script:
  # Run pyflakes for error detection
  - pyflakes water
  # Check PEP8 compliance (ignoring long lines)
  - pycodestyle --statistics --ignore=E501 --count water
  # Run tests
  - pytest
