dist: xenial
language: python

# Build matrix
python:
  - 3.6
  - 3.7

install:
  # Install package dependencies
  - pip install -r requirements-dev.txt

script:
  # Run pyflakes for error detection
  - pyflakes water
  # Check PEP8 compliance
  - pycodestyle --statistics --count water
  # Run tests
  - python -m pytest -v tests
  # Lint ansible playbook
  - ansible-lint ansible/chance.yml
